body{
    font-family: Muli,Helvetica,Arial,sans-serif;
    line-height: 1.5em;

}
section{
    margin: 0 auto;
    padding:20px 0;
 
    
}
#section1{
    background: url(images/bg-pattern.png),-webkit-gradient(linear,right top,left top,from(#7b4397),to(#dc2430));
    color: white;
}
#section2{
    background: #fdc845;
}

#section4{
    height: 300px;
    background: url(images/section4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    color: white;
}

#section5{
    background: #fdc845;
}

.store-icons{
    height: 50px;
}

footer{
    background: black;
}

.iconify{
    font-size: 70px;
    color: #b84673;
}

.fab{
    font-size: 40px;
    padding: 20px;
    color: white;
}

.fa-heart{
    color: #dd4b39;
}

.btn-twitter{
    background: #1da1f2;
}
.btn-fb{
    background: #344e86;
}
.btn-google{
    background: #dd4b39;
}